doctype html
html
  head
    title PartyQ     
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='/css/styles.css', rel='stylesheet')  
    //- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")



  body
    .container.center-align
      h1.Roboto-italic-600 CREATE   
      a.waves-effect.waves-light.btn(href='/login') Manage Your Playlists 
    .container
      h2 OR
    .container.center-align
      h1 COLLABORATE         
      form#findPlaylistForm(name='findPlaylistForm', action='findPlaylist', method='post')
        .row
          .input-field.col.l2.s4.offset-s4.offset-l5
            input.validate(id='pin',pattern='.{4}', required,oninvalid="setCustomValidity('Submit a 4 Character Pin')",data-error="Incorrect Pin", data-success="Correct Pin",type='text', name='pin') 
            label.left-align(for="pin") Pin          
        button.btn.waves-effect.waves-light(type='submit') Collaborate
          i.material-icons.right send   
    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    //- script( src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js") 
    script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")

    script.
      var viewportMeta = document.createElement('meta');
      viewportMeta.setAttribute('id', 'myMeta');
      viewportMeta.setAttribute('name', 'viewport');
      viewportMeta.setAttribute('content', 'width=device-width, initial-scale=1.0, user-scalable=no');
      document.head.appendChild(viewportMeta);
      if('#{pageData.error}'){
        Materialize.toast("Pin Not Found", 3000, 'rounded red' );
      }
      
