.create_playlist{
padding: 36px;
}

.not_displayed{
  display:none;
}

.text_background{
    background-color: rgba(0,0,0,.5); 
}

.fill_width{
  width:100%;
}
.song_info{
  font-size: 18px;
  font-weight: bold;
}
h1{
  color: #e57373 ;
  padding:12px;
  border-radius: 25px;
  font-weight: 700;
}

h3{
  color: #e57373 ;
  /*padding:12px;*/
  /*border-radius: 25px;*/
  /*font-weight: 700;*/
}
body{
	background: #f2f2f2;
}
.top_margin{
	margin-top: 24px;
}
h2 {
    overflow: hidden;
    text-align: center;
    font-style: italic;
}
h2:before,
h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}
 .hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e6e6e6;
}

